[submodule "src/pypulseq_interface"]
	path = src/pypulseq_interface
	url = https://github.com/schmidt-jo/pypulseq_interface.git
[submodule "src/autodmri"]
	path = src/autodmri
	url = git@schmidt-jo:schmidt-jo/autodmri.git
